/* Γενικά Στυλ */
body {
    background-color: #0e153a;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    margin: 100px 100px;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

.highlight {
    color: #f72585;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

a {
    color: #f72585;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f72585;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.button:hover {
    background-color: #d4145a;
}

/* Navigation Στυλ */
nav {
    position: absolute;
    top: 50px;
    right: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #f72585;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

